ccpi_viewer.egg-info
*.pyc
__pycache__

Wrappers/Python/ccpi/viewer/version.py
Wrappers/Python/ccpi/web_viewer/data/*

# Hide PyCharm or other Jetbrains IDE files
.idea

# Prevent windows from converting line endings:
*.sh    text eol=lf 
