ccpi_viewer.egg-info
*.pyc
__pycache__
*.log

Wrappers/Python/ccpi/viewer/version.py
Wrappers/Python/ccpi/web_viewer/data/*

# Hide PyCharm or other Jetbrains IDE files
.idea

Wrappers/Python/build/*


