name: publish_conda

on:
  release:
    types: [published]
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: conda-incubator/setup-miniconda@v3
      with:
        python-version: 3.7
        mamba-version: "*"
        channels: conda-forge, ccpi
        conda-remove-defaults: "true"
    - run: conda install boa conda-verify
    - name: conda build
      run: >
        conda mambabuild -c conda-forge -c ccpi  --python=3.7  --output-folder dist recipe
    -name: conda-upload
      if: github.ref == startsWith(github.ref, 'refs/tags')
      defaults: {run: {shell: 'bash -el {0}', working-directory: dist}}
      runs-on: ubuntu-latest
      steps:
      - run: mamba install anaconda-client
      - name: anaconda upload -c ccpi
        run: >
          anaconda -v -t ${{ secrets.ANACONDA_TOKEN }} upload --force --label  'main' noarch/*
