name: publish_conda

on:
  release:
    types: [published]
  push:
    branches: [master]
    tags:
      - '**'
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # All history for use later with the meta.yaml file for conda-recipes

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.13
          mamba-version: "*"
          channels: conda-forge, ccpi
          conda-remove-defaults: "true"

      - run: conda install conda-build conda-verify

      - name: conda build
        run: >
          conda build -c conda-forge -c ccpi --python=3.13 --output-folder dist Wrappers/Python/conda-recipe

      - name: Upload conda package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: cilviewer
          path: dist


  conda-print:
    runs-on: ubuntu-22.04
    needs: build
    defaults: {run: {shell: 'bash -el {0}', working-directory: dist}}
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          mamba-version: "*"
          channels: conda-forge

      - name: Download built conda package
        uses: actions/download-artifact@v4
        with:
          name: cilviewer
          path: dist

      - run: conda install anaconda-client

      - name: print contents of dist folder
        run: >
          ls noarch

  conda-upload:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'release'
    runs-on: ubuntu-22.04
    needs: build
    defaults: {run: {shell: 'bash -el {0}', working-directory: dist}}
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          mamba-version: "*"
          channels: conda-forge

      - name: Download built conda package
        uses: actions/download-artifact@v4
        with:
          name: cilviewer
          path: dist

      - run: conda install anaconda-client

      - name: Upload to ccpi anaconda channel
        run: >
          anaconda -v -t ${{ secrets.ANACONDA_TOKEN }} upload --force --label 'main' dist/noarch/*
